/*
Do not move this content to MainLayout.razor.css, although it may seem more appropriate place for CSS used only by shared Razor components.
MainLayout is a razor component, and Blazor isolates component-related CSS strictly to corresponding components.
I.e., styles defined in MainLayout.razor.css will not apply to components rendered inside MainLayout.
It is possible to use the '::deep' selector, but that's kinda hacky.
*/

a, .btn-link {
    color: #006bb7;
}

h1:focus {
    outline: none;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Removal of this eliminates the blue shadow around clicked buttons.*/
/*btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}*/

.digtionary-button {
    min-height: 50px;
    min-width: 130px;
    white-space: nowrap;
}

.form-check-input {
    border-color: #929292;
}

/* Scalable switch: adjust --voz-switch-scale to change size. */
.form-switch-scalable {
    --switch-scale: 1.3; /* single variable to control size */
    padding-left: calc(2.5em * var(--switch-scale));
}

.form-switch-scalable .form-check-input {
    width: calc(2em * var(--switch-scale));
    height: calc(1em * var(--switch-scale));
    margin-left: calc(-2.5em * var(--switch-scale));
    border-radius: calc(2em * var(--switch-scale));
}

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@supports (-webkit-touch-callout: none) {
    .status-bar-safe-area {
        display: flex;
        position: sticky;
        top: 0;
        height: env(safe-area-inset-top);
        background-color: #f7f7f7;
        width: 100%;
        z-index: 1;
    }

    .flex-column, .navbar-brand {
        padding-left: env(safe-area-inset-left);
    }
}
