.button-div {
    cursor: pointer;
    height: 90px;
}

/* keep a fixed size regardless of viewport width */
.h1-fixed {
    font-size: 2.5rem !important;
}

.word-div {
    line-height: 90px;
}
